.search-result li {
  width: 196px;
  height: 16px;
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  margin: 0 auto;
  padding: 5px;
  background-color: white;
  cursor: pointer;
  list-style-type: none;
  &:hover {
    background-color: #607D8B;
  }
  a {
    color: #888;
    display: block;
    text-decoration: none;
    &:hover {
      color: white;
    }
    &:active {
      color: white;
    }
  }
}
#search-component {
  text-align: center;
  h4 {
    margin-top: 1em;
    margin-bottom: .5em;
  }
}
#search-box {
  width: 200px;
  height: 20px;
  padding-left: 5px;
  &:focus {
    outline: none;
  }
} 
ul.search-result {
    margin-top: 0;
    padding-left: 0;
}